<br>
<br>
<h2>{{title}}</h2>
<form class="col-md-6" #addForm="ngForm" (ngSubmit) = "addTeams(addForm)">
    <div class="form-group" >
      <label>Team</label>
      <input type="text" ngModel id="name" name="name" class="form-control" size="50px" placeholder="Fenerbahçe" required>
    </div>
    <br>
    <div class="form-group">
      <label>Slogan</label>
      <input type="text" ngModel id="slogan" name="slogan" class="form-control" placeholder="Yaşa Fenerbahçe" required>
    </div>
    <br>
    <button [disabled]="addForm.invalid" id="addTeamForm" type="submit"  class="w-100 btn btn-primary">Envoyer</button>
</form>