<br>
<br>
<table class="table" >
    <thead class="table table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Slogan</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let team of teams">
      <tr>
        <th scope="row">{{team.id}}</th>
        <td>{{team.name}}</td>
        <td>{{team.slogan}}</td>
        <td><button (click)="redirectToTeamDetail(team)" routerLink="/teams/{{team.id}}/detail" type="button" class="btn btn-danger" >Detail</button></td>
        <td><button (click)="redirectToTeamEdit(team)" type="button"class="btn btn-warning" >Update</button></td>
        <td><button (click)="delete(team.id)" type="button" id="deleteTeams" class="btn btn-primary" >Delete</button></td>
      </tr>
    </tbody>
</table>

